<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- TITLE is being pulled by data in index.js -->
    <header>
       <!-- <h2>EXAMPLE</h2> -->
    </header>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla reiciendis ipsam eligendi, nam nostrum, omnis mollitia consequatur repudiandae dolorem earum modi eius perspiciatis voluptatibus quos! Perferendis porro ab et quas!</p>
  </body>
</html>
